<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'main/main.css' %}" />
    <link rel="stylesheet" href="{% static 'main/font-awesome.css' %}" />
</head>
<body>
    <div id="page" class="page">
        <div class="main-banner bg {% block header %}  {% endblock header %}" id="home">
            {% include 'include/header.html' %}
        </div>
        <ol class="breadcrumb editContent">
            <li class="breadcrumb-item">
                <a href="index.html" class="editContent">Home</a>
            </li>
            <li class="breadcrumb-item active editContent">Single Page</li>
        </ol>
        {% block content %}
    
        {% endblock content %}
        {% include 'include/footer.html' %}
    </div>
    <script src="{% static 'vendor/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/hogan.js' %}"></script>
</body>
</html>
